<%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
  <div class="form-group form-search">
    <%= f.label :status_eq, t("order.status"), class: "form-control" %>
    <%= f.select(:status_eq, options_for_select(statuses, f.object.status_eq),
    { include_blank: t("crud.choose")}, {class: "form-control" }) %>
    <%= f.submit t("crud.search"), class: "btn btn-success form-control" %>
  </div>
<% end %>
