<% provide :title, t("title.sign_up") %>
<% provide :button_text, t(".btn_create") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class = "center"><%= t"title.sign_up" %></h1>
      </div>
      <div class="panel-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
