<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
        </a>
      </li>
      <li><%= link_to t("language.en"), locale: :en %></li>
      <li><%= link_to t("language.vi"), locale: :vi %></li>
    </ul>
  </div>
</nav>
