<%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
  <div class="form-group form-search">
    <%= f.text_field :title_or_content_cont, placeholder: t("category.title_or_content"), class: "form-control" %>
    <%= button_tag " ", class: "btn btn-success fa-solid fa-magnifying-glass form-control" %>
  </div>
<% end %>
