<% provide :title, t("header.edit_category") %>
<% provide :button_text, t("crud.edit") %>
<div id="content">
  <%= render "shared/change_languages" %>
  <h2><%= t("header.edit_category")%></h2>
  <div class="container-fluid">
    <%= render "form" %>
  </div>
</div>
