<table class="table line-height-1-5 table-tlshop">
  <thead >
    <tr>
      <th><%= t "orders.buyer" %></th>
      <th><%= t "orders.email" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= user.name  %></td>
      <td><%= user.email %></td>
    </tr>
  </tbody>
</table>
