$red: #f00;
$black: #000;
$green: #65c931;
$blue: #15c;
$darkgreen: #2f5e17;
$white: #000;
$line_darkgreen: #274e13;
$pink: #e06666;
$gray_white: #efefef;
$light_green: #7fd553;
$translucent_green: #9ddf7c;
$matte_white: #f7f7f7;
$silver: #ecf0f1;
