@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
@import "bootstrap-sprockets";
@import "bootstrap";
@import "color";
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 70%;
  position: relative;
  margin-left: 310px;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid #455a64;
  color: #cfd8dc;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover {
  background: none;
  color: #eceff1;
}

#sidebar .nav a i {
  margin-right: 16px;
}

label {
  margin-top: 10px;
}
.submit {
  margin-top: 10px;
}

/*login*/

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}
#session_remember_me {
  margin-left: 0;
  width: auto;
}

.p-register {
  margin-top: 10px;
}

/*register*/
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}
input {
  height: auto;
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}
.button_custom {
  margin-top: 5px;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}
.field_with_errors {
  input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  label {
    color: #a94442;
  }
}

/*avatar-update-profile*/

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}
.show-info {
  list-style: none;
}

.btn-language {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.btn-language:hover {
  background-color: rgb(221, 204, 204);
  color: white;
}

.backBtn {
  margin-top: 10px;
}
.detailForm {
  margin-left: 500px;
}

.th-action {
  text-align: center;
}
.td-img {
  width: 120px;
}

.account-func {
  background-color: #0e74a5;
  margin: 0 !important;
  padding: 0 !important;
  li {
    width: 110%;
    border-bottom: 1px solid #1487cfd1;
    &:last-child {
      margin-bottom: 0;
      width: 100% !important;
    }
    .account-func-a {
      color: white;
    }
  }
}

.alert-admin {
  margin-left: 20%;
}

.login_actions {
  width: 100%;
  display: flex;
  .auth-form__socials:first-child {
    width: 48%;
    margin-right: 1%;
  }
  .auth-form__socials:last-child {
    width: 48%;
    margin-left: 2%;
  }
}
