<%= search_form_for [:admin, @u], class: "form-inline" do |f| %>
  <div class="form-group form-search">
    <%= f.text_field :user_cont, placeholder: t("users.form.name_email_form"), class: "form-control" %>
    <%= button_tag " ", class: "btn btn-success fa-solid fa-magnifying-glass form-control" %>
  </div>
<% end %>
