<% provide :title, t("header.new_product") %>
<% provide :button_text, t("crud.create") %>
<div id="content">
  <%= render "shared/change_languages" %>
  <div class="container-fluid">
    <%= render "form" %>
  </div>
</div>
